* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-container {
  max-width: 95vw;
  margin: 0 auto;
  padding: 0 16px;
}

table {
  width: 100%;
}

tr {
  border-bottom: 1px solid #c4b4b4;
}

/* th,
td {
  margin-left: 16px;
  margin-right: 16px;
} */

.first-column {
  display: flex;
  justify-content: space-between;
}

.display-phone {
  display: none;
}

.display-web {
  display: relative;
}

.edit-todo-icon {
  color: #000000;
  margin: auto 8px;
  cursor: pointer;
}

.messages-container {
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-input-container {
  position: relative;
}

.search-input {
  height: 40px;
  width: 400px;
}

.search-input-image {
  position: relative;
  right: 32px;
  width: 16px;
  height: 16px;
}

/*
	Screen smaller than 760px and also iPads.
	*/
@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Force table to not be like tables anymore */
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .display-phone {
    display: block;
  }

  .display-web {
    display: none;
  }

  .bold-phone {
    font-weight: bold;
  }

  .phone-title-style {
    background-color: #f1f1f1;
    padding: 12px;
  }

  tr {
    margin: 0 0 1rem 0;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    /* border-bottom: 1px solid #eee; */
    position: relative;
    /* 			padding-left: 50%; */
  }

  td:before {
    /* 			Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}
